:root {
    --bg-color: #23272A;
    --under-color: #2C2F33;
    --text-color: #fff;
    --hover-color: rgb(53,53,53);
}

/*
bg color: 2C2F33
under color: 23272A
*/

body::-webkit-scrollbar {
    width: 12px!important;              
}
  
body::-webkit-scrollbar-track {
    background: var(--under-color)!important;       
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--bg-color)!important;    /* color of the scroll thumb */
    border-radius: 20px!important;       /* roundness of the scroll thumb */
    border: 3px solid var(--under-color)!important;  /* creates padding around scroll thumb */
}

.bg-white {
    background-color: transparent!important;
}

body, #topofscroll, [role="main"] {
    background-color: var(--bg-color)!important;
}

#page h1, #page h2, #page h3, #page h4, #page h5, #page span, #page i, #page p, #page strong, #page td, #page th {
    color: var(--text-color)!important;
}

#page-wrapper > .navbar {
    background-color: var(--under-color)!important;
}

#page-wrapper > .navbar ul li a, #page-wrapper > .navbar label {
    color: #fff!important;
}

#page-wrapper > .navbar ul li a:hover {
    background-color: var(--hover-color)!important;
}

.navbar.fixed-top {
    border-bottom: var(--bg-color) 0px solid!important;
}

#inst7698 > .card-body, #inst7698 > .card-body .list-group-item, #region-main {
    background-color: var(--bg-color)!important;
    color: var(--text-color)!important;
}

.popover-body a, .popover-body {
    color: var(--text-color)!important;
}

.popover-region-header-container, .popover-region-header-container .content-item-container, .popover-region-footer-container, .popover-region-content-container, .popover-region-container {
    background-color: var(--under-color)!important;
    color: var(--text-color)!important;
}

.path-mod-assign td.submissionstatussubmitted, .earlysubmission, .submissiongraded {
    background-color: #4fcc74d6!important;
    padding: 5px!important;
}

.btn-secondary {
    color: #1d2125!important;
    background-color: #6a737b!important;
    border-color: #6a737b!important;
}

.btn-secondary:hover {
    background-color: #4a4e51!important;
    border-color: #4a4e51!important;
}

.drawer-toggles .drawer-toggler .btn {
    background-color: var(--under-color)!important;
}

.aalink.focus, a.focus.autolink, .aalink:focus, a.autolink:focus, #page-footer a:not([class]).focus, #page-footer a:not([class]):focus, .arrow_link.focus, .arrow_link:focus, a:not([class]).focus, a:not([class]):focus, .activityinstance>a.focus, .activityinstance>a:focus {
    background-color: var(--hover-color)!important;
}

.popover {
    background-color: var(--under-color)!important;
    color: var(--text-color)!important;
}

.card {
    background-color: var(--under-color)!important;
}

.fa-comment-o:before, .fa-bell-o:before, .dropdown-toggle::after, .fa-remove:before, .fa-close:before, .fa-times:before {
    color: white;
}

.alert-info {
    background-color: #38818d!important;
    border-color: #38818d!important;
}

.path-mod-assign .gradingtable tr.unselectedrow td {
    background-color: var(--under-color)!important;
}

.path-mod-assign td.submissionstatus, .path-mod-assign div.submissionstatus, .path-mod-assign a:link.submissionstatus {
    color: white!important;
    padding: 5px;
    background-color: var(--bg-color)!important;
}

.latesubmission {
    background-color: #a65a5a!important;
    padding: 5px;
}

.submissionstatussubmitted {
    background-color: #7bd678!important;
    padding: 5px!important;
}

.day {
    color: var(--text-color)!important;
}

.alert-danger {
    background-color: #a64b3f!important;
}

/* Chat */

.message-app, .message-app .card-header, .message-app .list-group-item, .message-app .bg-white, .message-app .border, .message-app #region-main {
    background-color: var(--under-color)!important;
    color: var(--text-color)!important;    
}

.message-app .footer-container textarea {
    color: #000!important;
}

.message-app .message.received .tail, .message-app .message.send .tail {
    display: none;
}

.message-app .message.received, .message-app .message.send {
    background-color: var(--bg-color)!important;
    color: var(--text-color)!important;
}

/* Area personal */

#inst1478 > .card-body .dashboard-card {
    background-color: var(--under-color)!important;
    color: var(--text-color)!important;
}

#inst1478 > .card-body ul.pagination a {
    background-color: var(--under-color)!important;
    color: var(--text-color)!important;
}

#inst1478, #inst1665, #inst10, #inst1665 .list-group-item {
    background-color: var(--bg-color)!important;
    color: var(--text-color)!important;
}

/* Eventos */

.modal-content {
    background-color: var(--under-color)!important;
    color: var(--text-color)!important;
}

.dropdown-menu, .dropdown-menu a {
    background-color: var(--bg-color)!important;
    color: var(--text-color)!important;
}

.dropdown-menu .dropdown-item:hover, .maincalendar .calendarmonth .clickable:hover {
    background-color: var(--hover-color)!important;
}

.drawercontent, .drawerheader {
    background-color: var(--under-color)!important;
    color: var(--text-color)!important;
}

.drawercontent a {
    color: var(--text-color)!important;
}

.drawercontent a:hover {
    color: rgb(152, 152, 152)!important;
}

/* Cursos */

.secondary-navigation .navigation {
    border-top: 0px solid var(--under-color)!important;
    border-bottom: 0px solid var(--under-color)!important;
    background-color: var(--under-color)!important;
}

.moremenu .nav-tabs {
    background-color: var(--under-color)!important;
    color: var(--text-color)!important;
}

.moremenu a:hover {
    background-color: var(--hover-color)!important;
}

.moremenu a {
    color: var(--text-color)!important;
}

.activity-item {
    background-color: var(--bg-color)!important;
    color: var(--text-color)!important;
}

.course-description-item {
    background-color: var(--bg-color)!important;
    color: var(--text-color)!important;
}

.path-mod .activity-header {
    background-color: var(--under-color)!important;
    color: var(--text-color)!important;
}

.bg-light {
    color: #000!important;
}

.block .block-cards .btn.btn-link.btn-icon:hover, .block .block-cards .btn.btn-link.btn-icon:focus {
    background-color: var(--bg-color)!important;
}

.page-link {
    background-color: var(--bg-color)!important;
}

/* Perfil */

.node_category {
    background-color: var(--under-color)!important;
    color: var(--text-color)!important;
}

/* Login */

.login-container, .login-container span {
    background-color: var(--under-color)!important;
}

.pagelayout-login #page {
    background: var(--bg-color)!important;
    background-image: linear-gradient(to right,var(--bg-color) 0%,100%)!important;
}

.loginform {
    background: var(--under-color)!important;
}

/* Editor de texto */
.editor_atto_content {
    color: var(--text-color)!important;
    background-color: var(--under-color)!important;
}

.editor_atto_content_wrap {
    background-color: transparent!important;
}

div.editor_atto_toolbar {
    background: var(--bg-color)!important;
}

div.editor_atto_toolbar button {
    background-color: var(--under-color)!important;
}

div.editor_atto_toolbar div.atto_group {
    border: 0px solid var(--under-color)!important;
    border-bottom: 0px solid var(--under-color)!important;
}

div.editor_atto_toolbar button+button {
    border-left: 0px solid #000!important;
}

.editor_atto_toolbar button:hover {
    background-image: radial-gradient(ellipse at center,var(--hover-color) 60%,var(--hover-color) 100%)!important;
}

/* Docentes */

.activity-add {
    color: #0f6cbf!important;
    border-color: #0f6cbf!important;
    background-color: var(--bg-color)!important;
}

.activity-add:hover {
    background-color: var(--under-color)!important;
}

.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd {
    background-color: var(--bg-color)!important;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd {
    background-color: var(--bg-color)!important;
    color: white!important;
}

.fp-content {
    color: var(--text-color)!important;
    
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}

.fp-navbar {
    border-color: var(--under-color)!important;
}